@font-face {
  font-family: "G-Open Sans-n6";
  src: url('../data/fonts/opensans_v17_mem5YaGs126MiZpBA-UNirk-VeJoCqeDjg.ttf');
}
@font-face {
  font-family: "G-Open Sans-n4";
  src: url('../data/fonts/opensans_v17_mem8YaGs126MiZpBA-U1UpcaXcl0Aw.ttf');
}
@font-face {
  font-family: "G-Open Sans-n7";
  src: url('../data/fonts/opensans_v17_mem5YaGs126MiZpBA-UN7rg-VeJoCqeDjg.ttf');
}