@font-face {
  font-family: "G-Open Sans Condensed-n3";
  src: url('../data/fonts/opensanscondensed_v14_z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhPuLGRpWRyAs.ttf');
}
@font-face {
  font-family: G-Roboto-n5;
  src: url('../data/fonts/roboto_v20_KFOlCnqEu92Fr1MmEU9vAx05IsDqlA.ttf');
}